body{
    background-color:beige;
    min-height: 100vh;
    margin:auto;
    text-align: center;
    font-family: Arial;
}
h1 {
    color: #3ea8b3;
    font-size: 35px;
}

.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: aquamarine;
    color: #ff8000;
    border-radius: 50%;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5) ;
    transition: all .4s ease-in-out;
}

.buttons a:hover{
    transform: scale(1.4);
}
.check a{
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: aquamarine;
    color: #ff8000;
    border-radius: 50%;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5) ;
    transition: all .4s ease-in-out;
}
.check a:hover{
    transform: scale(1.11);
}